<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Ariges" connectionString="localhost;user id=root;password=aritel;database=ariges1" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
